<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>0</td> <td title="&gt;&gt;Search_Mayank.beforeSuite()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>17</td> <td>&nbsp;</td><td title="&gt;&gt;Search_Mayank.beforeTest()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Search_Mayank.beforeClass()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Search_Mayank.beforeMethod()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search_Mayank.f()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">f</td> 
  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Search_Mayank.afterMethod()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Search_Mayank.afterClass()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>78</td> <td>&nbsp;</td><td title="&lt;&lt;Search_Mayank.afterTest()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>17/12/03 15:07:29</td>   <td>168</td> <td title="&lt;&lt;Search_Mayank.afterSuite()[pri:0, instance:Hello.Search_Mayank@5c671d7f]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@298430307</td>   <td></td> </tr>
</table>
